</body>
<footer>
  <div class="footer-container">
    <div class="footer-left">
      <h3>Ecoride</h3>
      <p>&copy; 2024 EcoRide - Tous droits réservés</p>
      <a href="">mention légale</a>
    </div>
    <div class="footer-center">
      <p>Téléchargez notre application</p>
    <div>
      <a href="" target="_self"> <img src="/public/assets/apple.png"></a>
      <a href="" target="_self"> <img src="/public/assets/Google-Play-Embleme.png"></a>
    </div>
    </div>
    <div class="footer-right">
      <p>suivez-nous sur les réseaux sociaux</p>
    <div>
      <a href="" target="_self"> <img src="/public/assets/twitter.png"></a>
      <a href="" target="_self"> <img src="/public/assets/facebook.png"></a>
    </div>
  </div>
</footer>
</html>